@import url('https://fonts.googleapis.com/css?family=Montserrat:300,500');

@keyframes Wave {
    0%{background-position:5% 0%}
    50%{background-position:96% 100%}
    100%{background-position:5% 0%}
}

body {
  background: linear-gradient(315deg, #00fff5, #00adb5);
  background-size: 400% 400%;
  background-position: center center;
  color: #e1eef6;
  font-size: 16px;
  line-height: 1.15;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  animation: Wave 30s ease infinite;
}

body::-webkit-scrollbar{
	width: 10px;
}

body::-webkit-scrollbar-track-piece{
	background-color: #393E46;
}

body::-webkit-scrollbar-thumb{
	background-color: #e1eef6;
	outline: 2px solid #FFF;
	outline-offset: -2px;
	border: .1px solid #B7B7B7;
}

body::-webkit-scrollbar-thumb:hover{
	background-color: #909090;
}

div{
  display: block;
}

ol, ul, li {
  list-style: none;
}

.hidden {
  display: none !important;
}

.header-site {
  position: absolute;
  top: 0;
  width: 100%;
  height: 3.750em;
  background-color: #393E46;
}

.container {
  height: inherit;
  margin: 0 50px;
}

.header {
  width: auto;
}

.header-icon {
  position: relative;
  top: -5px;
  width: 40px;
  height: 40px;
  display: inline-block;
  background-image: url(../assets/earth-globe.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header-title {
  bottom: 15px;
  position: relative;
  display: inline-block;
  font-weight: 200;
  text-transform: uppercase;
  font-size: 2em;
  color: white;
  letter-spacing: 1.25px;
}

.header-subtitle {
  top: -14px;
  right: -50px;
  padding:20px 50px 20px 15px;
  position: relative;
  display: inline-block;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1em;
  color: grey;
  letter-spacing: 1.1px;
  opacity: .75;
  float: right;
  background-color: rgba(255,255,255,.1);
  transition: all .25s;
}
.header-subtitle:hover{
  color: #ff7540;
  background-color: rgba(255,255,255,.25);
}

.header-subtitle:active{
  color: #fff;
  background-color: rgba(255,255,255,.2);
  transition: none;
}

.spacer-header {
  width: 100%;
  height:100px;
}

.content-header {
  width: 100%;
  margin-bottom: 10px;
}

.content-param{
  margin: 20px 0px 30px 0px
}

.content-date{
  display: flex;

}

.content-country {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 2px;
  border: none;
  font-size: 3em;
  background-color: transparent;
  color: #e1eef6;
  font-family: montserrat;
  text-transform: uppercase;
  margin-top: 20px;
  outline: none;
  transition: all .25s;
  padding: 0;
}

.content-country:hover {
  color: #ff7540;
}

.content-country:active {
  color: white;
  transition: none;
}
.content-pop {
  display: inline-block;
  font-size: 3em;
  font-weight: 500;
  float: right;
  margin-top: 24px;
  letter-spacing: 4px;
}

.content-vis{
  position: relative;
  margin: 0 50px;
}

.content-main{
  position: absolute;
  z-index: 100;
}
.content-bg{
  position: relative;
  z-index: 0;
}

.dayBtn {
  display: block;
	background-color:transparent;
	border-radius:25px;
	border:3px solid #E1EEF6;
	cursor:pointer;
	padding:5px 50px;
	text-decoration:none;
  letter-spacing: 1px;
  box-shadow: none;
  bottom: 0;
  font-family: montserrat;
  font-weight: 200;
  font-size: 1em;
  color: #e1eef6;
  outline: none;
}
.dayBtn:hover {
	background-color:transparent;
  box-shadow: 0px 5px #E1EEF6;
  transition: box-shadow .3s, bottom .3s;
  position: relative;
  bottom: 5px
}
.dayBtn:active {
	position:relative;
	bottom: -1px;
  box-shadow: none;
  transition: box-shadow .1s, bottom .1s;
}

.dateBtn {
  /*display: inline-block;
  margin: 0px 10px 0px 0px;
  background-color:transparent;
  border:3px solid #E1EEF6;*/
  cursor:pointer;
  /*padding: 0px 15px;*/
  text-decoration:none;
  letter-spacing: 1px;
  box-shadow: none;
  font-family: montserrat;
  font-weight: 200;
  font-size: 1em;
  color: #e1eef6;
  outline: none;
  /*height: 40px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -webkit-appearance: none;
-moz-appearance: none;
appearance: none;*/
}
.dateBtn:hover {
	background-color:transparent;
  box-shadow: 0px 5px #E1EEF6;
  transition: box-shadow .3s, bottom .3s;
  position: relative;
  bottom: 5px
}
.dateBtn:active {
	position:relative;
	bottom: -1px;
  box-shadow: none;
  transition: box-shadow .1s, bottom .1s;
}
.dateBtn option{
  -webkit-appearance: none;
-moz-appearance: none;
appearance: none;
background-color: #393E46;
border: 0;
}

.popVis {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: 0;
  margin: 0;
  width: 100%;
  z-index: 100;
}

.bgVis {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: 0;
  margin: 0;
  width: 100%;
  z-index: 0;
}

.popDot {
  width: 12px;
  height: 12px;
  opacity: 1;
  background-color: #e1eef6;
  list-style: none;
  display: inline-block;
  margin: 2.75px 2.75px;
  border-radius: 50%;
}

.bgDot {
  width: 12px;
  height: 12px;
  opacity: 1;
  background-color: #e1eef6;
  list-style: none;
  display: inline-block;
  margin: 2.75px 2.75px;
  border-radius: 50%;
}

.popTomorrow {
  background-color: transparent;
  box-shadow: inset 0 0 0 4px #e1eef6;
}

.popBG {
  background-color: transparent;
  box-shadow: inset 0 0 0 3px #e1eef6;
  opacity: .6;
}

.spacer-footer {
  width: 100%;
  height: 50px;
}

.footer-main {
  width: 100%;
  height: 5em;
  background-color: #393E46;
  font-size: 14px;
}

.footer-text {
  position: absolute;
  margin-left: 0px;
  margin-top: 7px;
}

.dotKey {
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 50%;
  float: left;
  margin-top: 22.5px;
  margin-right: 7px;
  background-color: white;

}

.info {
  float: left;
  display: inline-block;
  padding-top: 20px;
  padding-right: 10px;
}

.about-info {
  margin-bottom: 131px;
letter-spacing: 1.25px;
line-height: 1.25em;
margin-top: 50px
}

#grey {color: grey}
#blue {color: #00FFF5;}
#white{color: white }
